In [1]:
import sys
sys.path.insert(0, r'B:\Work\Aranti.ai\Codebase\lgnpy')

In [2]:
from lgnpy import LinearGaussian
import pandas as pd
import numpy as np
from lgnpy import LinearGaussian

lg = LinearGaussian()
lg.set_edges_from([('A', 'D'), ('B', 'D'), ('D', 'E'), ('C', 'E')])

In [3]:
np.random.seed(42)
n=100
data = pd.DataFrame(columns=['A','B','C','D','E'])
data['A'] = np.random.normal(5,2,n)
data['B'] = np.random.normal(10,2,n)
data['D'] = 2*data['A'] + 3*data['B'] + np.random.normal(0,2,n)
data['C'] = np.random.normal(-5,2,n)
data['E'] = 3*data['C'] + 3*data['D'] + np.random.normal(0,2,n)

lg.set_data(data)

In [4]:
lg.set_evidences({'A':5,'B':10})

In [5]:
lg.run_inference(debug=True)

Started
Calculating children of A : ['D']
	calculated for D
Calculating children of B : ['D']
	D already calculated
Calculating children of C : ['E']
Evidence wasn't available for node C, so took mean.
	calculated for E

   ev         u     u_inf         s   s_inf u_%change
A   5    4.7923    5.0000    3.2991            4.3339
B  10   10.0446   10.0000    3.6379           -0.4441
C       -4.7863   -4.7863    3.1265
D       39.8482   40.1773   47.0667  4.5309    0.8258
E      105.0737  106.0688  442.8767  4.2919     0.947